#canvas {
    border: 5px solid black;
    margin: 0 auto;
    border-radius: 20px;
    display: block;
}

#legenda-botoes {
    font-size:x-large;
    text-align: center;
    margin: 20px 0;
}

#botoes {
    text-align: center;
}

.botoes {
    --botoes-width: 100px;
    width: var(--botoes-width);
    height: calc(var(--botoes-width)/2);
    background-color: aqua;
    font-size: larger;
    border-radius: 10px;

}